:host {
  display: block;

  /**
   * @prop --size: the component size
   * @default: 15rem
   */
  width: var(--size, 15rem);
  height: var(--size, 15rem);

  /**
   * @prop --margin: the component margin
   * @default: 0 auto
   */
  margin: var(--margin, 0 auto);

  position: relative;

  --zIndex: 0;
}

svg {
  width: 100%;
  aspect-ratio: 1 / 1;
}

@supports not (aspect-ratio: 1 / 1) {
  svg {
    width: 100%;
    height: 100%;
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;

  background: transparent;
  color: inherit;
  font: inherit;

  cursor: pointer;

  /**
   * @prop --inner-margin: a margin that reduces the smiley size in comparison to its host
   * @default: 5rem
   */
  width: calc(var(--size, 15rem) - var(--inner-margin, 5rem));
  height: calc(var(--size, 15rem) - var(--inner-margin, 5rem));

  &:focus,
  &:active {
    /**
     * @prop --outline: the outline around the smiley button
     * @default: none
     */
    outline: var(--outline, none);
  }

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /**
   * @prop --zIndex: the smiley button z-index
   */
  z-index: var(--zIndex);
}

label {
  position: absolute;
  top: 50%;
  left: 50%;

  /**
   * @prop --text-top: an offset to display the question and labels
   * @default: 1.6rem
   */
  transform: translate(-50%, calc(-1 * ((var(--size, 15rem) - var(--text-top, 1.6rem)) / 2)));

  pointer-events: none;

  &.question {
    transform: translate(-50%, -50%);

    z-index: calc(var(--zIndex) + 1);
  }

  /**
   * @prop --text-font-size: text fonz-size
   * @default: 1.25rem
   */
  font-size: var(--text-font-size, 1.25rem);
  /**
   * @prop --text-font-weight: text fonz-weight
   * @default: 400
   */
  font-weight: var(--text-font-weight, 400);
  /**
   * @prop --text-line-height: text line-height
   * @default: calc(5rem / 3)
   */
  line-height: var(--text-line-height, calc(5rem / 3));

  text-align: center;

  &.state {
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.15s ease-in;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
